#portfolio
{
	background-color:#ffffff;
	
}

.canvas-our-portfolio
{
	width:100%;
	height:200px;
	border:1px solid;
	margin-bottom:0;
	font-size: 2em;
	padding:50px;
	color:#ffffff;
	font-weight:bold;
	position:relative;
	
	
}

.b2b
{
	background :rgb(55,96,145);
}

.online
{
	background :rgb(119,147,59);
}

.manufacturing
{
	background :rgb(229,107,10);
}

.telecomunication
{
	background :rgb(74,68,42);
}

.lifestyle
{
	background :rgb(49,133,156);
}

.infra
{
	background :rgb(96,74,122);
}

.description-our-portfolio
{
	position:relative;
	
}